[package]
name = "secret-utils"
version = "0.13.4"
authors = [
  "Ethan Frey <ethanfrey@users.noreply.github.com>",

  # Refactored for Secret Network
  "hydropump3 <3ki2fiay@anonaddy.me>",
]
edition = "2018"
description = "Common helpers for other cw specs"
license = "Apache-2.0"
repository = "https://github.com/CosmWasm/cw-plus"
homepage = "https://cosmwasm.com"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
iterator = ["secret-storage-plus/iterator"]

[dependencies]
cosmwasm-std = { git = "https://github.com/scrtlabs/cosmwasm", branch = "secret" }
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
thiserror = { version = "1.0.21" }

[dev-dependencies]
secret-storage-plus = { path = "../../packages/storage-plus", version = "0.13.4" }
prost = "0.9"
